# 제어문

## 조건문 (if문)

1. if문은 반드시 일정한 참/거짓을 판단 할 수 있는 '조건식'과 함께 사용된다.
   - (if <조건식>:)
3. `<조건식>` 참(true)인 경우 `: ` 이후의 문장을 실행
4. `<조건식>` 거짓(False)인 경우 `else: ` 이후의 문장을 실행

if <조건식> :
    if의 조선식이 참인 경우 실행
else:
    if의 조건식이 거짓인 경우 실행

In [19]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 12/25

크리스마스입니다.

In [20]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 12/24

크리스마스가 아닙니다.

In [31]:
num = input('숫자를 입력해주세요')

result = int(num) % 2

if bool(result) :
    print('홀수입니다.')
else:
    print('짝수입니다.')

숫자를 입력해주세요 123

홀수입니다.

In [34]:
num = int(input())

if num % 2 == 1:
    print('홀수')
else:
    print('짝수')

 123

홀수

In [35]:
num = int(input())

if num % 2 == 0:
    print('짝수')
else:
    print('홓수')

 123

홓수

In [41]:
num = int(input())

if num % 2 :
    print('홀수')
else:
    print('짝수')

 123

홀수

In [40]:
if int(input()) % 2 :
    print('홀수')
else:
    print('짝수')

 123

홀수

### elif 

```
if <조건식>:
    if 조건이 참인 경우
elif <조건식>:
    elif 조건이 참인 경우
```
else: 
    위의 조건식이 하나도 부합하지 않는 경우

In [55]:
score = int(input())

 95

In [51]:
# 90점 이상 A
# 80~89 B
# 70~79 C
# 나머지 F

if score >= 90:
    print('A')
elif score >= 80 and score <= 89:
    print('B')
elif 70 <= score <= 79:
    print('C')
else:
    print('F')

B

In [56]:
if score >= 90:
    print('A')
    if score >=95:
        print('참잘했어요')
elif score >= 80:
    print('B')

A
참잘했어요

### 조건표현식

true_value if <조건식> else false_value

In [58]:
print('True') if 1 > 0 else print('False')

True

In [61]:
if 1 > 0 :
    print('True') 
else :
    print('False')

True

In [66]:
num = 5
value = num if num >= 0 else 0
print(value)

5

In [89]:
value = num
num = 5

if num >= 0 :
    print(value) 
else :
    print(0)

5

In [91]:
num = 5 

if num >= 0 :
    valume = num 
else :
    vlaue = 0 
    
print(value)

#강사님
- if else print 구조
- 결국에는 pritn

5

#반복문 

##while문

    while<조건식>:
        실행할 코드

In [95]:
a = 0 

while a < 5 :
    print(a)
    a += 1

0
1
2
3
4

In [98]:
greeting = ''
while greeting != '안녕' :
    greeting = input('안녕이라고 말해줘')

안녕이라고 말해줘 ㄹㅇㄴㅁㄹ
안녕이라고 말해줘 ㄹㅇㄴㅁㄴㅇ
안녕이라고 말해줘 ㅇㄹㄴㅁㄹㄴㅇ
안녕이라고 말해줘 ㅇㄻㄴㅇㄹㄴㅇ
안녕이라고 말해줘 안녕

In [ ]:
# for 

## 정해진 범위 내의 반복

for variable(item)in sequnece:
    code

In [99]:
numbers = [1,2,3,4,5,]

for number in numbers :
    print(number)

1
2
3
4
5

In [104]:
word = input('단어를 입력해주세요')

for in :
        print(char)

SyntaxError: invalid syntax (4278437727.py, line 3)

In [106]:
word = input('단어를 입력해주세요')

단어를 입력해주세요 애플

In [108]:
for i in range(5):
    print(i)

0
1
2
3
4

In [109]:
for i in (1,2,3,4,5) :
    print(i)

1
2
3
4
5

In [110]:
# 1~30까지 숫자들 중에서 홀수만 출력

In [111]:
if for 구문

SyntaxError: invalid syntax (1846987400.py, line 1)

In [156]:
numbers = range(1,31)

if numbers % 2 == 0 :
    print(numbers)
else :
    print("")

TypeError: unsupported operand type(s) for %: 'range' and 'int'

In [140]:
numbers = range(1,31)
for number in numbers :
    if number % 2:
      print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [137]:
menus = ['라면','김밥','백반']
for menu in enumerate(menus):
    print(menu)

(0, '라면')
(1, '김밥')
(2, '백반')

In [139]:
for index,menu in enumerate(menus):
    print(index)
    print(menu)

0
라면
1
김밥
2
백반

In [146]:
if 0

SyntaxError: expected ':' (2785877338.py, line 1)

In [148]:
if true :
    print

NameError: name 'true' is not defined

In [149]:
    if true :
      print(number)

NameError: name 'true' is not defined

In [150]:
    if true :

SyntaxError: incomplete input (4048223792.py, line 1)

In [151]:
### dictionary 반복

1.for key in dic
2.

In [160]:
info = {
    'name':'gildong',
    'location':'seoul',
    'phone':'010-1234-1234',
    'age':20,
}

In [175]:
for cat in info:
    print(cat)
    print(info[cat])

name
gildong
location
seoul
phone
010-1234-1234
age
20

In [169]:
info.keys()
#for key in info.keys():

dict_keys(['name', 'location', 'phone', 'age'])

name
gildong
location
seoul
phone
010-1234-1234
age
20

In [182]:
for key in info.values():
    print(key)

gildong
seoul
010-1234-1234
20

In [197]:
for key,value in info.items():
    print(key, value)

ValueError: too many values to unpack (expected 2)

In [206]:
blood_type = {
    'A' : 5,
    'B' : 3,
    'O' : 2,
    'AB' : 2,
}

In [192]:
print('혈액형의 종류는')
for key in blood_type.keys() :
    print(key)
print('가 있습니다.')

혈액형의 종류는
A
B
O
AB
가 있습니다.

In [198]:
for key in info.keys():
    print(key)
    print(info[key])

name
gildong
location
seoul
phone
010-1234-1234
age
20

In [271]:
# 총 학생수는 몇명입니다.

blood_type = {
    1 : 5,
    2 : 3,
    3 : 2,
    4 : 2,
}

result = 0 
for value in blood_type.values():
    result = result + value

print(result)

12

In [257]:
blood_type = {
    1 : 5,
    2 : 3,
    3 : 2,
    4 : 2,
}
result = 0
for key in blood_type.keys():
    result += key

print(result)

10

In [226]:
print('총 학생수는')
blood_type = {
    1 : 5,
    1 : 3,
    1 : 2,
    1 : 2,
}

result = 0 
for value in blood_type.values():
    result = result + value

print(result)
print('몇 명입니다.')

총 학생수는
2
몇 명입니다.

##break 
# 반복문을 종료 시키는 키워드

In [231]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [234]:
for i in range(100):
    if i > 10 :
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [252]:
rice = ['보리','보리','보리','보리','쌀','보리']

for r in rice:
    print(r)
    if r == '쌀' : print('잡았다')
    break

보리

In [254]:
i = 0 

while True: 
    if rice[i] == '쌀':
        print('잡았다')
        break
    print(rice[i])
    i = i + 1

보리
보리
보리
보리
잡았다

### continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [274]:
for i in range(20):
    if i % 2 : 
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [303]:
ages = [10,20,38,82,11,13,39]

for age in ages : 
    if age <= 20 :
        continue
    print((age) 살)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4284533807.py, line 6)

In [284]:
for i in range(10):
    print(i)
else:
    print('else입니다.')

0
1
2
3
4
5
6
7
8
9
else입니다.

In [288]:
else
else무은 끝까지 반복된후 실행 됩니다. break를 만나지 않았ㅇ르때 실행뵌다.

SyntaxError: invalid syntax (4288372256.py, line 1)

In [291]:
for i in range(10):
    print(i)
    break
else:
    print('else입니다.')

0

In [292]:
pss

NameError: name 'pss' is not defined

In [297]:
if False:
    print('0')

In [298]:
match

NameError: name 'match' is not defined