In [2]:

print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## 문자열 메소드

In [7]:

a = 'hello my name is hong'

In [15]:
print(a)

hello my name is hong

In [19]:
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [24]:
print(a.capitalize())

Hello my name is hong

In [26]:
a.title()

'Hello My Name Is Hong'

In [28]:
a.lower()

'hello my name is hong'

In [36]:
a = a.upper()

In [40]:
print(a)

HELLO MY NAME IS HONG

In [42]:
my_list = ['my', 'name', 'is']
print('!!!'.join(my_list))

my!!!name!!!is

In [44]:
my_string = '        hello    \n  '
# print(my_string)
print(my_string.strip())

my_string2 = '-----------hello--------'
print(my_string2.strip('-'))
print(my_string2.lstrip('-'))
print(my_string2.rstrip('-'))

hello
hello
hello--------
-----------hello

In [48]:
a = 'woooooooow'
a.replace('o', '?', 3)

'w???ooooow'

In [52]:
a = 'apple'
print(a.find('a'))
print(a.find('l'))
print(a.find('z'))

0
3
-1

In [54]:
a = 'apple'
print(a.index('a'))
print(a.index('p'))
print(a.index('z'))

0
1

ValueError: substring not found

In [56]:
a = 'my_name_is_hong'
a.split('_')

['my', 'name', 'is', 'hong']

In [58]:
a = 'wooooooo'
a.count('o')

7

## 리스트 메소드

In [34]:
numbers = [1,4,3,6,8,3]

In [35]:
numbers.append(10)
print(numbers)

[1, 4, 3, 6, 8, 3, 10]

In [36]:
a = [99,100]

numbers.extend(a)
print(numbers)
numbers = numbers + a 
print(numbers)

[1, 4, 3, 6, 8, 3, 10, 99, 100]
[1, 4, 3, 6, 8, 3, 10, 99, 100, 99, 100]

In [38]:
numbers.insert(0, -10)
print(numbers)

[-10, 1, 4, 3, 6, 8, -10, 3, 10, 99, 100, 99, 100]

In [43]:
# x를 찾아서 제거, 없으면 애러발생
numbers.remove(-10)
print(numbers)

ValueError: list.remove(x): x not in list

In [45]:
numbers.pop()
print(numbers)

[1, 4, 3, 6, 8, 3, 10, 99, 100]

In [47]:
result = numbers.pop(0)
print(numbers,result)

result = numbers.pop(0)
print(numbers,result)

[3, 6, 8, 3, 10, 99, 100] 4
[6, 8, 3, 10, 99, 100] 3

In [49]:
numbers.sort()
print(numbers)

numbers.sort(reverse=True)
print(numbers)

[3, 6, 8, 10, 99, 100]
[100, 99, 10, 8, 6, 3]

In [50]:
numbers = [5,3,7,1,8,2,3]

print(sorted(numbers))
print(numbers)

[1, 2, 3, 3, 5, 7, 8]
[5, 3, 7, 1, 8, 2, 3]

In [51]:
print(numbers)
numbers.reverse()
print(numbers)

[5, 3, 7, 1, 8, 2, 3]
[3, 2, 8, 1, 7, 3, 5]

In [52]:
print(numbers)

[3, 2, 8, 1, 7, 3, 5]

In [59]:
print(numbers)
print(numbers[-2])
print(numbers[1:3])
print(numbers[::-1])

[3, 2, 8, 1, 7, 3, 5]
3
[2, 8]
[5, 3, 7, 1, 8, 2, 3]

## list copy

In [62]:
origin_list = [1,2,3]
copy_list = origin_list

print(origin_list)
print(copy_list)

In [67]:
origin_list[0] = 100
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [70]:
origin_list=[1,2,3]
copy_list = origin_list[:]

origin_list[0] = 100

print(origin_list)
print(copy_list)

[100, 2, 3]
[1, 2, 3]

In [75]:
origin_list = [1,2,[3,4]]
copy_list = origin_list[:]

origin_list[0] = 100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)

[100, 2, [300, 4]]
[1, 2, [300, 4]]

In [79]:
import copy
origin_list = [1,2,[3,4]]
copy_list = copy.deepcopy(origin_list)

origin_list[0] = 100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)

[100, 2, [300, 4]]
[1, 2, [3, 4]]

## list comprehension

In [82]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [98]:
# => [1,8,27 ... 1000]
result = []
for number in numbers:
    temp = number **3 
    result.append(temp)
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [101]:
result = [number ** 3 for number in numbers]
# result = [numer1 ** 3, numb232 ** , number ** 3...]
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [102]:
# 짞수만 고르기 
result = []

for number in numbers:
    if number % 2 == 0:
        result.append(number)

print(result)

[2, 4, 6, 8, 10]

In [109]:
# 연습! 모음제거
words = 'my name is hong'

# =>my mn s hng

In [117]:
for word in words : 
    print (word)

m
y

n
a
m
e

i
s

h
o
n
g

In [132]:
# vowels = ['a','e','i','o','u']
vowels = 'aeiou'
result = []
for char in words:
    if char in vowels:
        #모음인경우 => 자음인경우
        result.append(char)
    # else:
        #자음인경우 => 모음인경우
        # result.append(char)

print(result)

['a', 'e', 'i', 'o']

In [135]:
vowels = 'aeiou'

result = [char for char in words if char not in vowels]
print(''.join(result))

my nm s hng

In [136]:
# 3. replace 메소드 활용

vowels = 'aeiou'

# for char in words:
    words.replace('a','')
    words.replace(char,'')

IndentationError: unexpected indent (3856204330.py, line 6)

In [ ]:
딕셔너리 메소드 

info = {'name:hong','location: seoul','age:20','models:['iphone',mac book',['watch'],'phone book':{}

In [139]:
print(info['models'])
print(info['phone_book']['kim'])

NameError: name 'info' is not defined

In [140]:
info['name'] = 'park'
print(info)

info.update(name='oh')
print(info)

SyntaxError: invalid syntax (850025878.py, line 5)

In [141]:
ㄹage = info.pop('age')
print(info, age)

NameError: name 'info' is not defined

In [159]:
#연습문제
bloodtype = ['A','B','B','O','AB','A']
result  =  {'A' : 0, 'B': 0, 'AB' : 0, 'O': 0}

for blood in bloodtype: result[blood] +=1
print(result)

# => bd = {'A': 2,'B' :2 ,'AB': 1,'O': 1}

{'A': 2, 'B': 2, 'AB': 1, 'O': 1}

In [167]:
locations = ['서울','대전','서울','부산','강릉','LA','파리'] 
result  =  {'서울' : 0, '대전': 0 , '부산' : 0, '강릉': 0,'LA': 0,'도쿄': 0}

for location in locations: 
    if result.get(location): result[location] +=1 
    else: result[location] =1

print(result)

{'서울': 2, '대전': 1, '부산': 1, '강릉': 1, 'LA': 1, '도쿄': 0, '파리': 1}

In [173]:
locations = ['서울','대전','서울','부산','강릉','LA','파리'] 

result  =  {}

for location in locations: result.update({location : locations.count(location)})

print(result)

#result.update(location : locations.count(location))

{'서울': 2, '대전': 1, '부산': 1, '강릉': 1, 'LA': 1, '파리': 1}

## dict comprehension

In [176]:
# {1 : 1, 2: 8 , 3 : 27, ... 10: 1000}

result = {}
numbers = list(range(1,11))

for number in numbers: 
    result[number] = number ** 3
    
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [178]:
result = {numbers : number**3 for number in numbers}

print(result)

TypeError: unhashable type: 'list'

In [186]:
#1.for 

dust  =  {'서울' : 50, '대전': 100 , '광주' : 70, '부산': 90}

# result = {'대전' : 100, '광주': 90}
result = {}   
for key,value in dust.items(): 
    if value > 70:
        result[key] = value
        
print(result)

{'대전': 100, '부산': 90}

In [187]:
# 2. comp

result = {for key,value in dust.items(): if value > 70:}          
print(result)

##수정하기

{'대전': 100, '부산': 90}

## 세트 메소드

In [203]:
print(fruits)

{'apple', 'banana'}

In [211]:
fruits = {'apple','banana','apple'}
fruits.add('watermelon')
print(fruits)

## 여기 왜 추가 안됨?

{'apple', 'watermelon', 'banana'}

In [206]:
# => extends
fruits.update({'grape'})
print(fruits)

{'grape', 'apple', 'watermelon', 'banana'}

In [214]:
fruits.remove('apple')
print(fruits)

{'banana'}

In [217]:
fruits.pop()
print(fruits)

KeyError: 'pop from an empty set'

## map, filter, zip
### map
- map (function, iterable)

In [218]:
numbers = [1,2,3,4,5,]

result = []
for number in numbers :
    result.append(str(number))
print(result)

['1', '2', '3', '4', '5']

In [219]:
result = map (str, numbers)
print(result)
print(list(result))

<map object at 0x000001CB7666F550>
['1', '2', '3', '4', '5']

In [220]:
## 리술트 함수식

In [227]:
def cube(x):
    return x ** 3

In [228]:
result = map(cube, numbers)
print(list(result))

[1, 8, 27, 64, 125]

## 테스트 인풋 

테스트 - 인트 - 맵 - 리스트 - 프린트 

filter(function,iterable)
    def is_odd(x):

넘버스 1,2,3,4,5,